* {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  width: 250px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.input-wrapper {
  position: relative;
  height: auto;
  margin-bottom: 16px;
  height: 96px;
}

.input {
  width: 100%;
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-wrapper {
  position: relative;
  height: auto;
  margin-bottom: 16px;
  height: 96px;
}

.alert {
  position: relative;
  top: 16px;
}

.title {
  margin-bottom: 48px;
}

.subtitle {
  margin-bottom: 16px;
}
